<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../partials/navigation.ejs') %>

    <main>
        <%- include('../partials/message.ejs') %>
        <div class="card-body">
            <form class="login-form" action="/login" method="POST">
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" value="<%= oldInput.value('username') %>" class="form-control <%= validationErrors.find(e => e.path === 'username') ? 'invalid' : '' %>">
                </div>
                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" value="<%= oldInput.value('password') %>" class="form-control <%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>">
                </div>
                <button class="btn" type="submit">Login</button>
            </form>
        </div>
    </main>
<%- include('../partials/end.ejs') %>