<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../partials/navigation.ejs') %>

    <main>
        <%- include('../partials/message.ejs') %>
        <div class="card-body">
            <form class="login-form" action="/register" method="POST" novalidate>
                <div class="mb-3">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value="<%= oldInput.value('name') %>" class="form-control <%= validationErrors.find(e => e.path === 'name') ? 'invalid' : '' %>">
                </div>
                <div class="mb-3">
                    <label for="YOB">Year of birth</label>
                    <input type="number" name="YOB" id="YOB" value="<%= oldInput.value('YOB') %>" class="form-control <%= validationErrors.find(e => e.path === 'YOB') ? 'invalid' : '' %>">
                </div>
                <div class="mb-3">
                    <label for="gender">Gender</label>
                    <select name="gender" id="gender" class="form-select">
                        <option value="true" selected>Male</option>
                        <option value="false">Female</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" value="<%= oldInput.value('username') %>" class="form-control <%= validationErrors.find(e => e.path === 'username') ? 'invalid' : '' %>">
                </div>
                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" value="<%= oldInput.value('password') %>" class="form-control <%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>">
                </div>
                <div class="mb-3">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" value="<%= oldInput.value('confirmPassword') %>" class="form-control <%= validationErrors.find(e => e.path === 'confirmPassword') ? 'invalid' : '' %>">
                </div>
                <button class="btn" type="submit">Signup</button>
            </form>
        </div>
    </main>
<%- include('../partials/end.ejs') %>