<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../partials/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } else if (successMessage) { %>
        <div class="user-message user-message--success"><%= successMessage %></div>
        <% } %>
        <form class="login-form" action="/member/profile/change-password" method="POST">
            <div class="form-control">
                <label for="oldPassword">Old Password</label>
                <input type="password" name="oldPassword" id="oldPassword" value="<%= oldInput.value('oldPassword') %>" class="<%= validationErrors.find(e => e.path === 'oldPassword') ? 'invalid' : '' %>">
            </div>
            <div class="form-control">
                <label for="newPassword">New Password</label>
                <input type="password" name="newPassword" id="newPassword" value="<%= oldInput.value('newPassword') %>" class="<%= validationErrors.find(e => e.path === 'newPassword') %>">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" value="<%= oldInput.value('confirmPassword') %>" class="<%= validationErrors.find(e => e.path === 'confirmPassword') %>">
            </div>
            <button class="btn" type="submit">Change Password</button>
        </form>
    </main>
<%- include('../partials/end.ejs') %>