<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/member/change-password.css">
</head>

<body>
   <%- include('../partials/navigation.ejs') %>
    <main>
        <%- include('../partials/message.ejs') %>
        <div class="card-body">
            <form class="login-form" action="/member/profile" method="POST" novalidate>
                <div class="mb-3">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value="<%= user.name || oldInput.value('name') %>" class="form-control <%= validationErrors.find(e => e.path === 'name') ? 'invalid' : '' %>">
                </div>
                <div class="mb-3">
                    <label for="YOB">Year of birth</label>
                    <input type="number" name="YOB" id="YOB" value="<%= user.YOB ||oldInput.value('YOB') %>" class="form-control <%= validationErrors.find(e => e.path === 'YOB') ? 'invalid' : '' %>">
                </div>
                <div class="mb-3">
                    <label for="gender">Gender</label>
                    <select name="gender" id="gender" class="form-select">
                        <option value="true" <%= user.gender === true ? 'selected' : '' %>>Male</option>
                        <option value="false" <%= user.gender === false ? 'selected' : '' %>>Female</option>
                    </select>
                </div>
                <button class="btn" type="submit">Edit Profile</button>
            </form>
        </div>
        <div class="change-password">
            <a href="/member/profile/change-password" class="btn">Change Password?</a>
        </div>
    </main>
<%- include('../partials/end.ejs') %>